@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #41403f;
    --color-secondary: #2596be;
}

body {
    background-color: var(--color-primary);
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.bg-primary {
    background: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.btn {
    color: white;
}

.btn:hover {
    color: var(--color-primary)
}
