@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #41403f;
    --color-secondary: #00AEFF;
}

body {
    scroll-behavior: smooth;
    color: var(--color-primary);
    transition: 0.8s ease;
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.bg-primary {
    background: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.btn {
    color: var(--color-primary);
}

.btn:hover {
    background-color: var(--color-primary);
    color: #ffffff;
}

#checkbox {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: var(--color-primary);
    appearance: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.8s ease;
}

#checkbox:checked {
    background-color: #fff;
}

#checkbox::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.8s ease;
}

.dark-mode {
    background: var(--color-primary);
    color: #fff;
}

#checkbox:checked::before {
    transform: translateX(20px);
    background-color: var(--color-primary);
}

#checkbox2 {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #fff;
    appearance: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.8s ease;
}

#checkbox2:checked {
    background-color: var(--color-primary);
}

#checkbox2::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--color-primary);
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.8s ease;
}

#checkbox2:checked::before {
    transform: translateX(20px);
    background-color: #fff;
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}
    
@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
    }
}
    
@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
    }
} 
